.logincontainer {
    margin: auto;
    align-items: center;
    justify-items: center;
    position: relative;
    width: 400px;
    background-color: #5959590a;
    margin-top: 5%;
    border-radius: 10px;
}

.login_title {
    font-size: 2rem;
    padding: 20px;
}

.form_login input {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0px;
    border: none;
    box-shadow: none;
}

.login_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login_btn button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: none;
    transition: .5s linear;
    color: white;
}

.login_btn button:hover {
    background-color: white;
    color: black;
}

.login_resgister {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.login_resgister:hover {
    border-bottom: 2px solid white;
}

.btn_goo {
    background: none;
    color: white;
    border: none;
    size: 40px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.btn_goo:hover {
    background-color: white;
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
}