.containerHome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.titleHome {
    width: 400px;
    padding: 20px 0px;
}

.description {
    width: 600px;
    margin: 10px 0px;
}

.container_description span {
    font-weight: bolder;
}